## Medical Insurance Project to Practise Operation with Strings

# Input Data

In [2]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

# Project Start

In [3]:
print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

#Replace "#" with "$"

In [5]:
updated_medical_data = medical_data.replace('#', '$')
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

#Counting quantity of "$"

In [7]:
num_records = 0
for i in updated_medical_data:
  if i == '$':
    num_records += 1
print("There are " + str(num_records) + " medical records in the data.")

There are 10 medical records in the data.

#Create a List and split the data bei ";"

In [8]:
medical_data_split = updated_medical_data.split(';')
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

#Create the List of Lists

In [9]:
medical_records = []
for each_record in medical_data_split:
  medical_records.append(each_record.split(','))
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

#Data cleaning

In [10]:
medical_records_clean = []
for record in medical_records:
  record_clean = []
  for item in record:
    record_clean.append(item.strip())
  medical_records_clean.append(record_clean)
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

#Uppercase test

In [11]:
for record in medical_records_clean:
  record[0] = record[0].upper()
  print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

#List separation

In [13]:
names = []
ages = []
bmis = []
insurance_costs = []

for data in medical_records_clean:
  names.append(data[0])
  ages.append(data[1])
  bmis.append(data[2])
  insurance_costs.append(data[3])

print(names)
print('------')
print(ages)
print('------')
print(bmis)
print('------')
print(insurance_costs)

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
------
['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
------
['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
------
['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

#Average BMI counting

In [16]:
total_bmi = 0
for bmi in bmis:
  total_bmi += float(bmi)
average_bmi = total_bmi / len(bmis)
print("Average BMI: " + str(average_bmi))

Average BMI: 25.830000000000002

#Average insurance Costs counting

In [17]:
clean_insurance_cost = []
for insurance_cost in insurance_costs:
  clean_insurance_cost.append(insurance_cost.replace('$',''))
#print(clean_insurance_cost)

total_insurance_costs = 0
for insurance_cost in clean_insurance_cost:
  total_insurance_costs += float(insurance_cost)
average_insurance_costs = total_insurance_costs / len(clean_insurance_cost)
print("Average Insurance Costs: " + str(average_insurance_costs))

Average Insurance Costs: 8390.7

# The Report Generation

In [20]:
count = 0
for data in medical_records_clean:
  count += 1
  print(str(count) + ". " + data[0] + " is " + data[1] + " years old with a BMI of " + data[2] + " and an insurance cost of " + data[3] +"." + "\n")

1. MARINA ALLISON is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0.

2. MARKUS VALDEZ is 30 years old with a BMI of 22.4 and an insurance cost of $4050.0.

3. CONNIE BALLARD is 43 years old with a BMI of 25.3 and an insurance cost of $12060.0.

4. DARNELL WEBER is 35 years old with a BMI of 20.6 and an insurance cost of $7500.0.

5. SYLVIE CHARLES is 22 years old with a BMI of 22.1 and an insurance cost of $3022.0.

6. VINAY PADILLA is 24 years old with a BMI of 26.9 and an insurance cost of $4620.0.

7. MEREDITH SANTIAGO is 51 years old with a BMI of 29.3 and an insurance cost of $16330.0.

8. ANDRE MCCARTY is 19 years old with a BMI of 22.7 and an insurance cost of $2900.0.

9. LORENA HODSON is 65 years old with a BMI of 33.1 and an insurance cost of $19370.0.

10. ISAAC VU is 34 years old with a BMI of 24.8 and an insurance cost of $7045.0.